<table [dataSource]="(commentList | async) || []" aria-describedby="comment table" class="mat-elevation-z8" mat-table
       matTableFilter>

  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell> Id</th>
    <td *matCellDef="let element" mat-cell> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="postId">
    <th *matHeaderCellDef mat-header-cell> Post Id</th>
    <td *matCellDef="let element" mat-cell> {{element.postId}} </td>
  </ng-container>


  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let element" mat-cell> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell> Email</th>
    <td *matCellDef="let element" mat-cell> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="body">
    <th *matHeaderCellDef mat-header-cell> Body</th>
    <td *matCellDef="let element" mat-cell> {{element.body}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
